.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;
  font-size: 2.2rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}
